body{   
    font-family: Arial, sans-serif;
    background-color: rgb(131, 105, 245);
}

h1{
    color: blue;
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.37);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.822);
    border-radius: 4px;
    margin-bottom: 15px;

}

label{
    font-size: 1.5em;
    font-weight: bold;

}

button{
    margin-top: 15px;
    background-color: rgb(141, 84, 194);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(141, 84, 194, 0.521);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}