body{
    background-image: url(backgroundwinter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(173, 80, 158);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.007);
}